<!-- <div *ngIf="nome != 'Geovana'"> -->

<!-- <p [ngClass]="{'active': valor, 'disabled': !valor}">ngClass</p> -->
<!-- Validações + estilização-->
<!-- <p [ngStyle]="{'height': heightPx, 'background': backgroundColor}">ngStyle</p> -->
<!-- Estilizações gerais -->
<!-- </div> -->

<!-- <hr> -->

<!-- <input [(ngModel)]="nome">
<button (click)="salvar()">Salvar</button>

<li *ngFor="let item of list">{{ item.nome }}</li> -->

<!-- Template do que pode ou não aparecer -->
<ng-template ngFor let-item [ngForOf]="list">
  <li>
    {{ item.nome }}
  </li>
</ng-template>

<input [(ngModel)]="nome">
<button (click)="salvar()">Salvar</button>

<!-- <li *ngFor="let item of list">{{ item.nome }}</li> -->
