<form #form="ngForm" [formGroup]="cadastroForm" (ngSubmit)="submitForm()">

  <label for="first-name">First Name:
  <input type="text" formControlName="firstName">
</label>

<span class="alert" *ngIf="cadastroForm.get('firstName')?.errors && cadastroForm.get('firstName')?.touched || cadastroForm.get('firstName')?.dirty">
  Favor adicionar um nome
</span>

  <!-- {{ cadastroForm.get('firstName')?.value }} -->

<br>
<br>

  <label for="last-name">Last Name: </label>
  <input type="text" formControlName="lastName" required>

  <br>
  <br>

  <p>
    {{ cadastroForm.get('firstName')?.errors | json }}
  </p>

  <!-- Validação individual - [disabled]="cadastroForm.get('firstName')?.errors"  -->
  <button [disabled]="form.invalid">Submeter dados</button>

</form>
